# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\VirtualMachine\《基于Hadoop的网络日志采集与分析》\闲鱼2500_前端项目\TianChiData\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
